
body {
    background-color: #de1010;
    color: white;
    font-family: "Pirata One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #0606f1e0;
    color: white;
    font-family: "Pirata One", system-ui;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}
